*{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #EAC926;
    width: 100%;
    padding: 5px;
}

.buscar{
    border: 0; 
}

 .input{
    background-color: #FFF;
    outline: none;
    color: #666;
    padding: 2px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    
}

header .form {
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 10px;    
    width: 30%;
}
/* 
header div.logo, header .form {
    width: 50%;
} */

/* header .form .input     {
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    height: 20px;
    width: 80%;
    max-width: 500px;
    flex: auto;
} */


/* 

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: auto;
    padding: 2px;   
    border-radius: 10%;
}

header span i{    
    background-color: auto;  
    font-size: 1rem; 
    padding-bottom: 10px; 
} */

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

nav div i{    
    background-color: auto;  
    font-size: 1rem; 
    padding-bottom: 10px; 
    text-align: center;
}
/* 
main div i{    
    background-color: auto;  
    font-size: 1rem; 
    padding-bottom: 10px; 
    text-align: center;
} */

section div i{    
    background-color: auto;  
    font-size: 1rem; 
    padding-bottom: 10px; 
    text-align: center;
}


a{
    text-decoration: none;
    color: black;
}

i{
    background-color: auto;  
    font-size: 2em; 
    padding-bottom: 1px; 
}

h3{
    font-size: 12px;
    color: rgb(90, 88, 88);
    margin-bottom: 10px;
}

p.center{
    text-align: center;
    margin-top: 10px;
    color: black;
}

.logo{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-right: 10px;
    padding-top: 10px;
}

.titular{
    font-size: 24px;
    text-align: center;
    color: rgb(78, 78, 78);
    margin: 20px 0;
    font-weight: bold;
}

.producto{
    display: block;
    margin: 0 auto;
    background-color: white;
    padding-left: 5%;    
    padding-top: 25px;
    color: green;
    position: relative;
}

.precio{
    font-size: 18px;
    color:black;
    /* line-height: 1px;
    padding-top: 3%; */
    font-weight: bold;
    width: 30%;
}

.descuento{
    font-size: 16px;
    line-height: 1px;
    color: green;    
    /* margin: 0 20px; */
    width: 70%;
}



/* .precio, .descuento{
    display: flex;
    font-weight: bold;
} */

.descripcion{
    font-size: 16px;
    color: rgb(105, 105, 105);
    display: none;
    margin-top: 20px;
}

.burger-menu{
    background-color: #033d7c;
    width: 40px;
    border-radius: 8px;
    margin: 20px auto;
    padding: 0.1px;   
}


.burger-menu-i{
    width: auto;
    color: white;  
    text-align: center;  
    margin-top: 20%;
    font-size: 20px;
}
/* 
.transporte {
    border-radius: 50%;
    border: solid green 1px;
    padding: 15px;
} */

body{
    background-color: #ebebeb;
    margin: 0 auto;
}

main{
    width: 90%;
    display: block;
    margin: 0 auto;
    
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
}

.main{
    border-top: solid 1px #ebebeb;
    
}

nav i{
    font-size: 1.3rem;
}

.nav-bar ul{
    list-style: none;
    padding: 0;

}

article div.producto {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 20px;
}

.img{
    width: 100%;
    display: block;
    border-bottom: solid 1px rgb(218, 212, 212);

}

.banner{
    width: 100%;
    display: block;
    border-bottom: solid 1px rgb(218, 212, 212);

}

footer{
    background-color: #ffffff;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

     p{
    color: rgb(134, 133, 133);
    
}   

    

footer h4{
    color: rgb(187, 185, 185);
    margin-top: 20px;
    font-size: 10px;
}



footer section div i{
    font-size: 20px;
}



form{
    padding: 90px 80px;
}

form div{
    margin-bottom: 15px;
}

form div label{
    font-weight: bold;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.caja{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgb(211, 208, 208);
}

.espacio{
    justify-content: space-between;
}

.buscador{
    width: auto;
}

button{
    background-color: rgb(55, 55, 245);
    color: white;
    border: none;
    display: block;
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    text-decoration: white;    
}

button a{
        text-decoration: none;
        color: white; 
}

.caja:hover {
    background-color: beige;
}

.caja:visited{
    background-color: black;

}

div.main-bar1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header form span i{
    width: 50px;

}

section.ultima-visita,
section.ofertas{
    display: flex;
    flex-wrap: wrap;
}







@media (min-width: 320px){

    main section article:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
 

   /* article{
        padding-bottom: 1px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    } */

    /* footer{
        margin: 20px 0 0 0;
    } */
    
    nav ul{
        display: none;
    }

    main section div.main-articule article i{
        transition: transform 1s;
    }
    
    main section div.main-articule article:hover i{
        transform: rotate(-90deg);
    }

    
        
}

@media (min-width: 361px){


    main section article:hover .descripcion{
        display: block;
        transition: all 200ms;
    }

    nav ul{
        display: none;
    }

    .nav-bar{
        display: block;      
    }

    main section div.main-articule{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
    } 

    main section div.main-articule article{
        width: 45%;
        
    }

    .logo{
        width: 50%;
        margin: 0px;
    }

    div.main-bar {
        padding-bottom: 5px;
    }

    .center{
        text-align: right;
        padding: 15px;
    }

    .precio,
    .descuento{
        width: 50%;
    }
/* 
    .descuento{
        margin: 0 20px;
    } */

    div.main-bar{
        flex-wrap: nowrap;
    }

    footer section div{
        margin-bottom: 10px;
    }
 
}

@media (min-width: 768px){

    div.main-bar {
    flex-wrap: nowrap;
}

    .burger-menu{
        display: none;      
    }

    .logo{
        width: 22%;
        margin: 0px;
    }

    main section div.main-articule article{
        width: 22%;
    }

    .nav-bar{       
        display: flex;
     
    
    }

    .left-bar{
        width: 100%;
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        margin-left: 90px;
    }

    .right-bar{
        width: 100%;
        display: flex;
        padding-right: 5px;
        align-items: center;
        justify-content: space-between;
        margin-right: 90px;
    }

    footer section {
        margin: 20px 10px 10px 10px;
        display: flex;
        position: relative;
    }

    .copyrigth{
        display: block;
        position: absolute;
        left: 35%;
        bottom: 0;
        margin-bottom: -20px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    footer section div{
        margin-bottom: 30px;
    }

    div.main-bar1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}